body.album {
    background-image: url(../assets/images/blurred_backgrounds/blur_bg_3.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    padding-bottom: 150px;
}

.album-cover-art {
    position: relative;
    left: 20%;
    margin-top: 1rem;
    width: 60%;
}

.album-view-details {
    position: relative;
    top: 1.5rem;
    padding: 1rem;
} 

.album-view-details .album-view-title {
    font-weight: 300;
    font-size: 2rem;
}

.album-view-details .album-view-artist {
    font-weight: 300;
    font-size: 1.5rem;
}

.album-view-details .album-view-release-info {
    font-weight: 300;
    font-size: 0.75rem;
}



.album-view-song-list {
    width: 90%;
    margin: 1.5rem auto;
    font-weight: 300;
    font-size: 0.75em;
}

.album-view-song-item {
    height: 3rem;
    /*line under song list*/ 
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.song-item-number {
    width: 5%;
}

.song-item-title {
    width: 85%;
}

.song-item-duration {
    width: 5%;
}

.album-song-button {
    text-align: center;
    font-size: 15px;
    background-color: ghostwhite;
    color: rgb(210,40,123);
    border-radius: 50% 50%;
    display: inline-block;
    width: 22px;
    height: 22px;   
}

.album-song-button: hover {
    cursor: pointer;
    color: white;
    background-color: rgb(210, 40, 123);
}

.album-song-button i {
    line-height: 28px;
}

.album-song-button .fa-play {
    padding-left: 5px;
}

.album-song-listing td {
    vertical-align: middle;
}

/*Responsive - smaller devices*/
@media (max-width: 40rem) and (min-width: 20rem) {
    .album-view-details {
        text-align:center;
    }
    .album-view-title {
        margin-top: 0;
    }
}

/*Responsive larger devices*/
@media (max-width: 64rem) and (min-width:20rem) {
    .album-view-song-list {
        position: relative;
        top: 1rem;
        width: 80%;
        margin: auto;
    }
}