.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: rgba(255,255,255,0.3);
    z-index: 100:
}

.player-bar a,
.player-bar a:hoover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.player-bar .container {
    display: table;
    padding: 0;
    width: 90%;
    min-height: 100%;
}

.player-bar-control-group {
    display: table-cell;
    vertical-align: middle;
}

.player-bar .left-controls {
    width: 25%;
    text-align: left;
    padding-right: 1rem;
}

.player-bar .right-controls {
    width: 25%;
    text-align: right;
}

.player-bar .player-bar-control-group a {
    font-size: 1.1rem;
    vertical-align: middle;
}

.player-bar .player-bar-control-group .previous {
    margin-right: 16.5%;

}

.player-bar .player-bar-control-group .play-pause {
    margin-right: 15%;
    font-size: 1.6rem;
    
}

.player-bar .currently-playing {
    width: 50%;
    text-align: center;
    position: relative;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-name,
.player-bar .currently-playing .artist-song-mobile {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
    position: absolute;
    width: 100%;
    font-weight: 300;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-song-mobile {
    top: 1.1rem;
}

.player-bar .currently-playing .artist-name {
    bottom: 1.1rem;
}

.player-bar .currently-playing .artist-song-mobile {
     display: none;
 }

.seek-control {
    position: relative;
    font-size: 0.8rem;
}

.seek-control .current-time {
    position: absolute;
    top: 0.5rem;
}

.seek-control .total-time {
    position: absolute;
    right: 0;
    top: 0.5rem;
}

.seek-bar {
    height: 0.25rem;
    background: rgba(255,255,255,0.3);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.seek-bar .thumb {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background: white;
    left: 50%;
    top: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: width 100ms ease-in-out,
                height 100ms ease-in-out,
                margin-top 100ms ease-in-out,
                margin-left 100ms ease-in-out;
    
}

.seek-bar:hover .thumb {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
 }

.player-bar .volume span {
    width: 2.25rem;
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}

.player-bar .volume .seek-bar {
     display: inline-block;
     width: 5.75rem;
     vertical-align: middle;
 }

@media (max-width: 40rem) {
    .player-bar {
        height: 200px;
        padding: 1rem;
    }
    
    .player-bar .left-controls,
    .player-bar .right-controls,
    .player-bar .currently-playing {
        display: block;
        margin: 0 auto;
        width: 100%;
        min-height: 4rem;
        text-align: center;
    }
    
    .player-bar .right-controls {
        margin-left: 1rem;
    }
    
    .artist-name,
    .song-name {
        display: none;
    }
    
    .player-bar .currently-playing .artist-song-mobile {
        display: block;
    }
}
    

        
